/* @use 'vuetify' with (
    $color-pack: true
); */
 .article-title {
    font-size: 2.125rem !important;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: .0073529412em !important;
 }
 

.v-skeleton-loader__button {
  width: 190px !important;
  margin: 0 !important;
  max-width: unset !important;
}